<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>  
    <script src="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/js/bulma-tagsinput.min.js"></script>  
    <title>Interlab - Questions</title>
</head>
<body>
    <section class="hero is-small is-primary">
        <div class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/dashboard" class="navbar-item">
                        <img src="https://cdn.discordapp.com/attachments/477303086935965701/609967810701164544/logo.svg" alt="interlab logo">
                    </a>
                    <span class="navbar-burger burger is-white" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/dashboard" class="navbar-item">
                            Dashboard
                        </a>
                    </div>
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a href="/auth/logout" class="button is-primary is-outlined is-inverted">
                                <span class="icon is-small">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <form action="/download/application/<%= app.id %>" method="POST">
                                <button type="submit" id="download" class="button is-white">
                                    <span class="icon is-small">
                                        <i class="fas fa-download"></i>
                                    </span>
                                    <span>Download</span>
                                </button >
                            </form>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered"><%= job.name %></span></h1>
                <p class="subtitle has-text-centered">Questions</p>
            </div>
        </div>
        <div class="hero-footer">
            <div class="container">
                <div class="tabs is-boxed">
                    <ul>
                        <li class="is-active">
                            <a href="/dashboard/application/<%= app.id %>/job/<% job.id %>" + app.id %>>
                                <span class="icon is-small"><i class="fas fa-question-circle"></i></span>
                                <span>Questions</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/application/<%= app.id %>/<%= app.id %>/responses">
                                <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                <span class="has-badge-rounded has-badge-white has-badge-inline" data-badge="<%= Object.keys(job.responses).length %>">Responses</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br>
    <% include ./partials/message %>
    <div class="container has-text-right">
            <div class="fields is-right">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <h1 class="title has-text-centered"><%= Object.keys(job.questions).length %> / <%= user.maxQuestions %></h1>
                    </div>
                    <div class="control">
                        <button id="createButton" class="button is-success is-right" onclick="createButtonClick()">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Create</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns is-multiline">
            <% Object.keys(job.questions).forEach(function(app) { %>
                <div class="column is-3">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <h1 class="title is-4"><%= job.questions[app].question %></h1>
                                <div class="fields">
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a href="#" class="button">Edit</a>
                                        </div>
                                        <div class="control">
                                            <form action="/api/delete/<%= job.questions[app].id %>" method="post">
                                                <button type="submit" class="button is-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="modal" id="modalObj">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Create Question</p>
                        <button onclick="cancel()" class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <form method="POST" id="create-form" action="/api/create/question/<%= app.id %>/<%= job.id %>">
                            <div class="fields">
                                <div class="field">
                                    <div class="control">
                                        <label for="" class="label">Question Name</label>
                                        <input type="text" class="input" name="name" placeholder="Question Name">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Type</label>
                                    <div class="control">
                                        <div class="select is-info">
                                            <select name="type" name="type" id="select">
                                                <option value="tr">Text Response</option>
                                                <option value="mc">Multiple Choice</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field" id="inputforquestion">
                                    <div class="control">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <div class="control">
                                            <script src="//www.google.com/recaptcha/api.js" async defer></script><div class="g-recaptcha" data-sitekey="6Ld4hbIUAAAAAHuV6Ct0katfyY2KO5IHNyU0d2Vq" data-callback="cb"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success" type="submit" form="create-form">Create</button>
                        <button class="button" onclick="cancel()">Cancel</button>
                    </footer>
                </div>
            </div>
        </div>
    <% include ./partials/footer %>
</body>
<% include ./partials/talk %>
<script>
    //Modal
    var modalObj = document.getElementById('modalObj')

    var createButtonClick = () => {
        modalObj.classList.add('is-active')
    }

    var cancel = () => {
        modalObj.classList.remove('is-active');
    }

    $('select').on('change', function() {
        if (this.value == "mc") {
            document.getElementById("inputforquestion").innerHTML = `                                   
            <label for="" class="label">Choices</label>
            <input class="input" name="tags" type="tags" placeholder="Add Response" value="">
            <br>`
            bulmaTagsinput.attach();
        } else {
            document.getElementById("inputforquestion").innerHTML = ''
        }
    });
</script>
</html>