<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %> 
    <title>Interlab - Admin</title>
</head>
<body>
    <section class="hero is-small is-primary">
        <div class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/dashboard" class="navbar-item">
                        <img src="https://cdn.discordapp.com/attachments/477303086935965701/609967810701164544/logo.svg" alt="interlab logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end nav-menu">
                        <span class="navbar-item">
                            <a href="/auth/logout" class="button is-primary is-outlined is-inverted">
                                <span class="icon is-small">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="container is-centered">
                    <h1 class="title has-text-centered "><%= user.username %></h1>
                <p class="subtitle has-text-centered">Edit</p>
            </div>
        </div>
        <div class="hero-footer">
            <div class="container">
                <div class="tabs is-boxed">
                    <ul>
                        <li>
                            <a href="/dashboard">
                                <span class="icon is-small"><i class="fas fa-plus"></i></span>
                                <span>Applications</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/shared">
                                <span class="icon is-small"><i class="fas fa-cloud"></i></span>
                                <span>Shared</span>
                            </a>
                        </li>
                        <li class="is-active">
                            <a href="/dashboard/admin">
                                <span class="icon is-small"><i class="fas fa-user-shield"></i></span>
                                <span>Admin</span>
                            </a>
                        </li>                 
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div class="container">
        <form action="/dashboard/admin/<%= user.username %>/edit" method="POST">
            <div class="form">
                <div class="columns is-multiline">
                    <div class="column is-3">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <h1 class="title is-5">Max Centers</h1>
                                    <input type="number" class="input" placeholder="Max Centers" name="maxcenters" value="<%= user.maxCenters %>" required>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <h1 class="title is-5">Max Jobs</h1>
                                    <input type="number" class="input" name="maxjobs" placeholder="Max Jobs" value="<%= user.maxJobs %>" required>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <h1 class="title is-5">Max Questions</h1>
                                    <input type="number" class="input" name="maxquestions" placeholder="Max Questions" value="<%= user.maxQuestions %>" required>
                                </div>
                            </article>
                        </div>
                    </div>
                    <% if (admin.username.toLowerCase() == "uhteddy" && user.username.toLowerCase() !== "uhteddy") { %>
                        <div class="column is-3">
                            <div class="box">
                                <article class="media">
                                    <div class="media-content">
                                        <h1 class="title is-5">Admin</h1>
                                        <input class="is-checkradio" name="admin" id="admin" type="checkbox"<% if(user.admin) { %> checked <% }; %>>
                                        <label for="admin">Admin</label>
                                    </div>
                                </article>
                            </div>
                        </div>
                    <% }; %>
                </div>
                <button type="submit" class="button is-fullwidth is-primary">Save</button>
            </div>
        </form>
    </div>
    <% include ./partials/footer %>
</body>
<script type="text/javascript">
    (function() {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#'+burger.dataset.target);
     
      burger.addEventListener('click', function(){
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
</script>
<% include ./partials/talk %>
<script>
    // Modal
    var Create = document.getElementById();
</script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>